/* Variables de la página principal */
$color-footer: rgb(12, 23, 59);
$color-footer-text: #fff;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: $color-footer-text;
  background-color: $color-footer;
  position: relative; /* Necesario para posicionar elementos relacionados */

  .chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 400px;
    max-width: 90%;
    height: 500px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    &.hidden {
      transform: translateY(100%);
    }
  }

  .chatbot-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0d1c2b;
    }
  }
}
