<!-- src/app/shared/footer/footer.component.html -->
<footer class="footer">
  © UTNG 2024 GDS0631.

  <!-- Chatbot Container -->
  <div class="chatbot-container" [class.hidden]="!isChatbotVisible">
    <iframe
      src="https://www.chatbase.co/chatbot-iframe/-cuwXxPv-FN9y5GSskVw2"
      width="100%"
      style="height: 80%; min-height: 500px"
      frameborder="0"
    ></iframe>
  </div>

  <!-- Chatbot Toggle Button -->
  <button class="chatbot-bubble" (click)="toggleChatbot()">
    💬
  </button>

</footer>
