/* Variables de la página principal */
$color-footer: rgb(12, 23, 59);
$color-footer-text: #fff;


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: $color-footer-text;
  background-color: $color-footer;

}
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: none; /* Ocultar por defecto */
  z-index: 9999;
  transition: all 0.3s ease; /* Transición suave */
}

#chatbot-iframe {
  width: 100%;
  height: 100%;
  border: none; /* Sin borde */
}

#chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0084ff; /* Color del botón */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  font-size: 24px; /* Tamaño del ícono */
  cursor: pointer;
  z-index: 10000; /* Asegúrate de que esté por encima del chatbot */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para el botón */
}
